@import 'custom-variables';


body{
background-color:$bodycolor;
}

nav{
  background-color:$nav;
  a{
    color:$textcolour;
  }
  .container-fluid{
    .navbar-brand{
      img{
        width:250px;
        height:75px;
      }
    }
  }
}
section{
  background-color: $bodycolor;
}
